.mailBox {
  .mailBox-topBar {
    border-bottom: 1px #edebe9 solid;
    height: 44px;

    .mailBox-topBar-left {
      background-color: var(--neutralLighter);
    }
  }

  .mailBox-content {
    .mailBox-content-left {
      .mailBox-content-left-menu {
        height: calc(100% - 59px);
      }

      .mailBox-content-left-ad {
        height: 59px;
      }
    }
  }
}
