.ViewArticle {
  .ViewArticle-topbar {
    height: 61px;
    padding-left: 20px;

    .ViewArticle-topbar-back {
      display: inline-block;
      width: 52px;
      padding-right: 20px;
      height: 32px;
    }

    .ViewArticle-topbar-title {}
  }
}